<!-- BEGIN_INCLUDE(esper:send-event) -->
    <esper:send event="#[payload:]" />
<!-- END_INCLUDE(esper:send-event) -->

<!-- BEGIN_INCLUDE(esper:listen) -->
    <esper:listen statement="select count(*) from org.mule.api.MuleMessage.win:time_batch(10, 'FORCE_UPDATE, START_EAGER') having count(*) < 5" />
<!-- END_INCLUDE(esper:listen) -->

<!-- BEGIN_INCLUDE(esper:filter) -->
<esper:filter eventPayload-ref="#[payload:]"
                      statement="select case when count(*) > 3 then false else true end from TestEvent.win:time(5 min)"
                      key="case when count(*)>3 then false else true end"/>
<!-- END_INCLUDE(esper:filter) -->
